<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.liuye.studentinfomanager.mapper.ClassInfoMapper">
    <select id="getAllClassInfo" resultType="site.liuye.studentinfomanager.entity.ClassInfo">
        select * from classinfo
    </select>

    <insert id="addClassInfo">
        insert into classinfo(classname) values (#{classinfo.classname})
    </insert>

    <delete id="deleteClassInfo">
        delete from classinfo where classid = #{id}
    </delete>

    <update id="updateClassInfo">
        update classinfo set classname = #{ci.classname} where classid = #{ci.classid}
    </update>

    <select id="getClassInfoById" resultType="site.liuye.studentinfomanager.entity.ClassInfo">
        select * from classinfo where classid = #{id}
    </select>
</mapper>